/* Esta directiva le dice a Tailwind que inyecte sus estilos base. */
/* Esto incluye un reseteo de estilos (CSS reset) para normalizar la apariencia */
/* entre diferentes navegadores, asegurando un punto de partida consistente. */
@tailwind base;

/* Esta es la directiva más importante. Inyecta todas las clases de utilidad de Tailwind */
/* (como `bg-gray-900`, `text-white`, `p-8`, etc.). Durante el proceso de construcción, */
/* Tailwind escaneará sus archivos HTML y TS en busca de estas clases y generará un archivo CSS */
/* final que contiene solo las que realmente está utilizando, optimizando el tamaño del archivo. */
@tailwind utilities;
@tailwind components;

body {
    position: relative;
    background-color: #000;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3) 1px, transparent 1px, transparent 2px);
    pointer-events: none;
    z-index: 1000;
    image-rendering: pixelated;
}
